
# Python virtual environment
.venv/
venv/
ENV/

# Data folder
data/
datafolder/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE settings
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Environment variables
.env
.env.local

.DS_Store
